<div class="example-container mat-elevation-z8">
  <table matSort (matSortChange)="sortData($event)" align="center">
    <tr>
      <th mat-sort-header="" text-align="center">Id Equipo</th>
      <th></th>
      <th></th>
      <th></th>
      <th mat-sort-header="" text-align="center">Nombre Equipo </th>
      <th></th>
      <th></th>
      <th></th>
      <th mat-sort-header="" text-align="center">Director tecnico </th>

    </tr>

    <tr *ngFor="let eqo of equipoServices.equipoList">
      <td align="center">{{eqo.idequipo}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td align="left">{{eqo.nombreequipo}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td align="left">{{eqo.directortecnico}}</td>

    </tr>
  </table>
</div>