<form #addForm=ngForm (ngSubmit)="onSave()" id="from-equipo">
  <table>
    <tr>
      <td>
        <mat-form-field class='example-full-width'>
          <input required matInput placeholder="Nombre Equipo" [(ngModel)]="equipo.nombreequipo" name="nombre" #nombre="ngModel" />
          <mat-error [hidden]="nombre.valid || nombre.pristine">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class='example-full-width'>
          <input required matInput placeholder="Nombre Tecnico" [(ngModel)]="equipo.directortecnico" name="directortecnico" #directortecnico="ngModel" />
          <mat-error [hidden]="directortecnico.valid || directortecnico.pristine">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class='example-full-width'>
          <input  matInput placeholder="id Equipo" [(ngModel)]="equipo.idequipo" name="idequipo" #idequipo="ngModel" />
          <mat-error [hidden]="idequipo.valid || idequipo.pristine">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <div class="button_row">
      <button [disabled]="!addForm.valid" mat-raised-button color="primary">Guardar</button>
    </div>
</form>

