/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

  html, body, material-app, mat-sidenav-container, .my-content {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  md-card {
    padding: 20px;
  }
  
  footer {
    color: #F6F0F0;
    background: rgb(71, 145, 23);
    font-family: "Helvetica";
  }